node_modules
tmp
application/sessions/*
application/config/database.php
application/logs/*
!uploads/.htaccess
bower_components
*.patch
patches/
.idea/
git-svn-diff.py
*.bash
.swp
.buildpath
.project
.settings/*
.sass-cache/
*.swp
*.rej
*.orig
*~
*.~
*.log
.env
