.theme-teal .navbar {
  background-color: #009688; }
.theme-teal .navbar-brand {
  color: #fff; }
  .theme-teal .navbar-brand:hover {
    color: #fff; }
  .theme-teal .navbar-brand:active {
    color: #fff; }
  .theme-teal .navbar-brand:focus {
    color: #fff; }
.theme-teal .nav > li > a {
  color: #fff; }
  .theme-teal .nav > li > a:hover {
    background-color: transparent; }
  .theme-teal .nav > li > a:focus {
    background-color: transparent; }
.theme-teal .nav .open > a {
  background-color: transparent; }
  .theme-teal .nav .open > a:hover {
    background-color: transparent; }
  .theme-teal .nav .open > a:focus {
    background-color: transparent; }
.theme-teal .bars {
  color: #fff; }
.theme-teal .sidebar .menu .list li.active {
  background-color: transparent; }
  .theme-teal .sidebar .menu .list li.active > :first-child i, .theme-teal .sidebar .menu .list li.active > :first-child span {
    color: #009688; }
.theme-teal .sidebar .menu .list .toggled {
  background-color: transparent; }
.theme-teal .sidebar .menu .list .ml-menu {
  background-color: transparent; }
.theme-teal .sidebar .legal {
  background-color: #fff; }
  .theme-teal .sidebar .legal .copyright a {
    color: #009688 !important; }
.theme-teal .fc-state-down, .theme-teal .fc-state-active {
  background-color: #009688;
  color: #FFF;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
.theme-teal .fc-event {
  border-color: #009688;
  background-color: #009688; }
.theme-teal .wizard > .actions a {
  background: #009688;
  color: #fff;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  .theme-teal .wizard > .actions a:hover, .theme-teal .wizard > .actions a:active {
    background: #009688;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
.theme-teal .wizard > .actions .disabled a {
  background: #eee;
  color: #aaa; }
  .theme-teal .wizard > .actions .disabled a:hover, .theme-teal .wizard > .actions .disabled a:active {
    background: #eee;
    color: #aaa; }
.theme-teal .wizard .steps .done a {
  background-color: rgba(0, 150, 136, 0.6); }
  .theme-teal .wizard .steps .done a:hover, .theme-teal .wizard .steps .done a:active, .theme-teal .wizard .steps .done a:focus {
    background-color: rgba(0, 150, 136, 0.5); }
.theme-teal .wizard .steps .error a {
  background-color: #F44336 !important; }
.theme-teal .wizard .steps .current a {
  background-color: #009688; }
  .theme-teal .wizard .steps .current a:active, .theme-teal .wizard .steps .current a:focus, .theme-teal .wizard .steps .current a:hover {
    background-color: #009688; }
.theme-teal .breadcrumb li a {
  color: #009688 !important;
  font-weight: bold; }
